<!DOCTYPE HTML>
<html lang="en">

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-254675481-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-254675481-1');
</script>

  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>
  
<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Shenao Zhang 
              </h1>
              <p>I am a first-year Ph.D. student at <a href="https://www.northwestern.edu/">Northwestern University</a>, advised by Prof. <a href="https://zhaoranwang.github.io/">Zhaoran Wang</a>. I received my M.S. degree from <a href="https://www.gatech.edu/">Georgia Tech</a>, where I was fortunate to work with Prof. <a href="https://www2.isye.gatech.edu/~tzhao80/">Tuo Zhao</a> and Prof. <a href="https://bo-dai.github.io/">Bo Dai</a>. I obtained my Bachelor's degree from <a href="https://www.scut.edu.cn/en/">South China University of Technology</a> and visited UC Berkeley EECS in 2019. 
                
                I was a Student Researcher at <a href="https://www.microsoft.com/en-us/research/">Microsoft GenAI</a> working with <a href="https://plusross.github.io/">Donghan Yu</a>. Previously, I was a research intern at <a href="https://www.bytedance.com/">ByteDance AML</a>, <a href="https://www.microsoft.com/en-us/research/">Microsoft Research</a>, and <a href="https://ai.tencent.com/ailab/en/index/">Tencent AI Lab</a>.
              </p>
              <p style="text-align:center">
                <a href="https://shenao-zhang.github.io/cv/Zhang_Shenao_CV.pdf">CV</a> &nbsp;/&nbsp;
                <a target="_blank" href="mailto:shenao@u.northwestern.edu"> Email</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=8NamuusAAAAJ&hl">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/shenao-zhang-055a53178/"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://twitter.com/ShenaoZhang"> Twitter </a>
              </p>
            </td>
            <td style="padding:2.5%;width:20%;max-width:20%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/photo.jpeg">
            </td>
          </tr>
        </table>

       
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                My research centers around Large Language Models (LLMs) and Reinforcement Learning (RL). I’m currently interested in the <em>efficient</em> alignment of LLMs with RLHF, studying active synthetic data generation and more capable training algorithms. Previously, I built autonomous LLM agents and developed data-efficient decision-making algorithms with applications to robotic and multi-agent systems.
              </p>
              <style>
  .specific-line {
    margin-bottom: -15px; /* Adjust the line height to reduce space */
  }
</style>
<p class="specific-line"><br> (* indicates equal contribution, <sup>†</sup> indicates equal advising)
  </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.models %}
              <a href="{{post.models}}">models</a> /
              {% endif %}
              {% if post.tweet %}
              <a href="{{post.tweet}}">tweet</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Professional Service</h2>
              <p>
                <b>Conference Review:</b> NeurIPS 2020-24, ICLR 2022-24, ICML 2022-24, AISTATS 2022-24, RSS 2021.
              </p>
              <p>
                <b>Journal Review:</b> Neurocomputing, IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI).
              </p>
            </td>
          </tr>
        </table>
   
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
              <p>
                <b>Graduate Teaching Assistant:</b> Head TA of CS 7648: Interactive Robot Learning (Fall 2021) at Georgia
Tech.
              </p>
            </td>
          </tr>
        </table>
        
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
